[submodule "external/PCT"]
	path = external/PCT
	url = https://github.com/Gengzigang/PCT.git
[submodule "external/sapiens2"]
	path = external/sapiens2
	url = https://github.com/facebookresearch/sapiens2.git
[submodule "external/PETR"]
	path = external/PETR
	url = https://github.com/hikvision-research/opera.git
[submodule "external/lighttrack"]
	path = external/lighttrack
	url = https://github.com/Guanghan/lighttrack.git
[submodule "external/DetectAndTrack"]
	path = external/DetectAndTrack
	url = https://github.com/facebookresearch/DetectAndTrack.git
[submodule "external/PGPT"]
	path = external/PGPT
	url = https://github.com/JDAI-CV/PGPT.git
[submodule "external/poseidon"]
	path = external/poseidon
	url = https://github.com/CesareDavidePace/poseidon.git
[submodule "external/TARViTPose"]
	path = external/TARViTPose
	url = https://github.com/zgspose/TARViTPose.git
[submodule "external/PAVENet"]
	path = external/PAVENet
	url = https://github.com/zgspose/PAVENet.git
[submodule "external/openpifpaf"]
	path = external/openpifpaf
	url = https://github.com/openpifpaf/openpifpaf.git
[submodule "external/AlphaPose"]
	path = external/AlphaPose
	url = https://github.com/MVIG-SJTU/AlphaPose.git
[submodule "external/DETRPose"]
	path = external/DETRPose
	url = https://github.com/SebastianJanampa/DETRPose.git
	branch = inference_only
[submodule "external/GroupPose"]
	path = external/GroupPose
	url = https://github.com/Michel-liu/GroupPose.git
[submodule "external/QueryPose"]
	path = external/QueryPose
	url = https://github.com/buptxyb666/QueryPose.git
