[submodule "external/PCT"]
	path = external/PCT
	url = https://github.com/Gengzigang/PCT.git
[submodule "external/sapiens2"]
	path = external/sapiens2
	url = https://github.com/facebookresearch/sapiens2.git
[submodule "external/PETR"]
	path = external/PETR
	url = https://github.com/hikvision-research/opera.git
[submodule "external/lighttrack"]
	path = external/lighttrack
	url = https://github.com/Guanghan/lighttrack.git
[submodule "external/DetectAndTrack"]
	path = external/DetectAndTrack
	url = https://github.com/facebookresearch/DetectAndTrack.git
[submodule "external/PGPT"]
	path = external/PGPT
	url = https://github.com/JDAI-CV/PGPT.git
